@import "tailwindcss";

@theme {
    --font-display: "Inter", sans-serif;
    /* Primary Color*/
    --color-primary-50: #f0f9ff;
    --color-primary-100: #e0f2fe;
    --color-primary-200: #bae6fd;
    --color-primary-300: #7dd3fc;
    --color-primary-400: #38bdf8;
    --color-primary-500: #0ea5e9;
    --color-primary-600: #0284c7;
    --color-primary-700: #0369a1;
    --color-primary-800: #075985;
    --color-primary-900: #0c4a6e;

    /* Charcoal (text / contrast) */
    --color-char-50: #f5f5f5;
    --color-char-100: #dddddd;
    --color-char-200: #c5c5c5;
    --color-char-300: #adadad;
    --color-char-400: #969696;
    --color-char-500: #7e7e7e;
    --color-char-600: #666666;
    --color-char-700: #4e4e4e;
    --color-char-800: #363636;
    --color-char-900: #1f1f1f;
}
@layer base {
    html {
        font-family: var(--font-display);
    }
    body {
        color: var(--color-char-900);
    }
}
